body {
    color: red;
    text-align: left;
    font-family:"Arial";
    font-size: 16px;
}

#cabecera {
    background: #33f;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5cm;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px; 
}

#post {
    padding: 1em;

}